<div class="jumbotron">
    <h1>AngularJStore</h1>
    <p>Demo Web App using the following technologies:</p>
    <ul>
        <li>AngularJS</li>
        <li>Asp.NET MVC/WebAPI</li>
        <li>EntityFramework (Code first)</li>
    </ul>
</div>
